@import "/src/app/style/variables";

.footer {
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: $primary-color-blue;
  color: $white-color;
  font-weight: 600;
  box-shadow: 0px 4px 4px $shadow-color;
  margin-top: 16px;
}

.vertical-center {
  margin: 0;
  position: relative;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

