<app-toolbar
  [bookedFlights]="bookedFlights"
></app-toolbar>

<div class="container">
  <div class="context left">
    <app-booking
        [airports]="airports"
        [flightData]="flightData"
        (bookingDataOutput)="changedBooking($event)"
    ></app-booking>
  </div>
  <div class="context right">
    <app-list-of-flights
        [listData]="dataSource"
        (flightData)="changedListOfFlights($event)"
    ></app-list-of-flights>
  </div>
</div>

<div>
  <app-footer></app-footer>
</div>
