@import "/src/app/style/variables";

.container {
  width: 100%;
  padding: 0px;
  margin-top: 16px;
  gap: 1%;

}

.left {
  margin-right: 1%;
  width: 48%;
  float: left;

  @media (max-width: 600px){
    width:  45%;
  }
}

.right {
  margin-left: 1%;
  width: 48%;
  float: right;
  @media (max-width: 600px){
    width:  45%;
  }
}

.context {
  padding: 16px;
  width: 49%;
  float: left;
  background: $white-color;
  box-shadow: 0px 4px 4px $shadow-color;
  margin-top: 16px;
  margin-bottom: 16px;

  @media (max-width: 600px){
    width:  95%;
    margin: 2%;
  }
}
