@import "/src/app/style/variables";

.table {
  width: 100%;
  tr:nth-child(even) {
    background: $white-color;
  }
  tr:nth-child(odd) {
    background: $light-grey;
  }
}

.load-more-btn {
  margin-top: 16px;
  color: $primary-color-blue;
}

.vertical-center {
  margin: 0;
  position: relative;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.title {
  text-align: left;
  font-size: 18px;
}

.cell{
  border-style: hidden
}
