<p class="title">Lista lotów</p>
    <table mat-table [dataSource]="listData" class="table">
      <ng-container matColumnDef="flightCode">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell class="cell" *matCellDef="let element">
          {{ element.departureAirport }} &#8646; {{ element.arrivalAirport }}
        </td>
      </ng-container>

      <ng-container matColumnDef="dateOfDeparture">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell class="cell" *matCellDef="let element">
          {{ element.dateOfDeparture | date: "M/d/yy, h:mm" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="button">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell class="cell" *matCellDef="let element">
          <button mat-icon-button style="float: right">
            <mat-icon class="material-icons-outlined">
              arrow_circle_right
            </mat-icon>
          </button>
        </td>
      </ng-container>

      <tr
        mat-row
        (click)="onClickRow(row)"
        [class.row-is-clicked]="clickedRow === row"
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
    <button mat-button class="load-more-btn vertical-center">
      ZAŁADUJ WIĘCEJ
    </button>
