<p class="title">
    Rezerwacja lotów
    <span class="airline-codes" *ngIf="flightData">
      {{ flightData?.departureAirport }} &#8646;
      {{ flightData?.arrivalAirport }}
    </span>
  </p>
  <div class="container">
    <form [formGroup]="flightBooking">
    <div class="left">
      <p class="textbox-title">Imię</p>
      <mat-form-field appearance="outline" class="textbox" required>
        <input
          matInput
          type="text"
          formControlName="name"
          placeholder="Wpisz imię"
          class="select"
        />
        <mat-error>
          To pole jest wymagane
        </mat-error>
      </mat-form-field>


      <p class="textbox-title">Ilość osób</p>
      <mat-form-field appearance="outline" class="textbox">
        <input
          matInput
          type="number"
          min="0"
          formControlName="numberOfPeople"
          placeholder="Wybierz ilość osób"
          class="select"
        />
        <mat-error>
          To pole jest wymagane
        </mat-error>
      </mat-form-field>

      <p class="textbox-title">Data i godzina wylotu</p>
      <mat-form-field appearance="outline" class="textbox">
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="{{ date | date: 'M/d/yy, h:mm a' }}"
          [value]="flightData?.dateOfDeparture"
          class="select"
          disabled
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker"
          [class.select]=""
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <p class="textbox-title">Miejsce wylotu</p>
      <mat-form-field appearance="outline" class="textbox">
        <mat-select
          [value]="flightData?.departureAirport"
          placeholder="Wybierz miejsce wylotu"
          [disabled]="true"
        >
          <mat-option *ngFor="let airport of airports" [value]="airport.code">
            {{ airport.name }} ({{ airport.code }})
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="right">
      <p class="textbox-title">Nazwisko</p>
      <mat-form-field appearance="outline" class="textbox">
        <input
          matInput
          formControlName="lastName"
          placeholder="Wpisz nazwisko"
          [(ngModel)]="bookingData.lastName"
          class="select"
        />
        <mat-error>
          To pole jest wymagane
        </mat-error>
      </mat-form-field>

      <p class="textbox-title">Klasa</p>
      <mat-form-field appearance="outline" class="textbox">
        <mat-select
          placeholder="Wybierz klase"
          formControlName="travelClass"
          [(ngModel)]="bookingData.travelClass"
          required
        >
          <mat-option *ngFor="let class of travelClasses" [value]="class">
            {{ class }}
          </mat-option>
        </mat-select>
        <mat-error>
          To pole jest wymagane
        </mat-error>
      </mat-form-field>

      <p class="textbox-title">Data i godzina przylotu</p>
      <mat-form-field appearance="outline" class="textbox">
        <input
          matInput
          [matDatepicker]="picker1"
          placeholder="{{ date | date: 'M/d/yy, h:mm a' }}"
          [value]="flightData?.dateOfArrival"
          class="select"
          disabled
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker1"
          [class.select]=""
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <p class="textbox-title">Miejsce przylotu</p>
      <mat-form-field appearance="outline" class="textbox">
        <mat-select
          [value]="flightData?.arrivalAirport"
          placeholder="Wybierz miejsce odlotu"
          [disabled]="true"
        >
          <mat-option *ngFor="let airport of airports" [value]="airport.code">
            {{ airport.name }} ({{ airport.code }})
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
  </div>
  <div>
    <button
      mat-raised-button
      class="add-to-cart-btn vertical-center"
      color="primary"
      (click)="submit()"
      [disabled]="!flightBooking.valid || !flightData"
    >
      Dodaj do koszyka
    </button>
  </div>
