@import "/src/app/style/variables";

.left {
  margin-right: 1%;
  width: 48%;
  float: left;

  @media (max-width: 600px){
    width:  45%;
  }
}

.right {
  margin-left: 1%;
  width: 48%;
  float: right;
  @media (max-width: 600px){
    width:  45%;
  }
}

.context {
  padding: 16px;
  width: 49%;
  float: left;
  background: $white-color;
  box-shadow: 0px 4px 4px $shadow-color;
  margin-top: 16px;
  margin-bottom: 16px;

  @media (max-width: 600px){
    width:  95%;
    margin: 2%;
  }
}

.title {
  text-align: left;
  font-size: 18px;
}

.airline-codes {
  float: right;
  font-size: 18px;
  color: $primary-color-blue;
  font-weight: bold;
}

.textbox {
  width: 100%;
  background: $white-color;
  margin-bottom: 16px;
  padding-bottom: 0px;
}

.textbox-title {
  margin-bottom: 8px;
  @media (max-width: 400px){
    font-size: 12px;
  }
}

.add-to-cart-btn {
  background: $blue-color;
  border-radius: 0px;
}

.go-to-btn {
  background-color: $black;
  color: $black;
  border-color: $black;
  border-style: solid;
}

::ng-deep.mat-form-field-wrapper {
  padding: 0px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: $primary-color-blue;
}

.mat-error {
  margin-top: 15px;
}

.mat-form-field-appearance-outline.mat-form-field-disabled
  .mat-form-field-outline {
  color: $red;
}

.select {
  color: $disable-blue;
}

::ng-deep.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
  color: $disable-blue;
}
::ng-deep .mat-raised-button.mat-primary.mat-button-disabled {
  color: $white-color;
  background-color: $disable-blue;
}

.vertical-center {
  margin: 0;
  position: relative;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
