@import "bootstrap-4-grid/scss/grid/bootstrap-grid";

html, body { height: 100%;}
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  @media (max-width: 600px){
    font-size: 50%;
  }
}

.row-is-clicked .mat-cell {
  color: #47a7ff !important;
  background: rgba(71, 167, 255, 0.2) !important;
}

.mat-form-field-outline-start {
  border-radius: 0 0 0 0 !important;
  min-width: 28px !important;
}

.mat-form-field-outline-end {
  border-radius: 0 0 0 0 !important;
}

.mat-select-value {
  color: #47a7ff !important;
}
.mat-icon-button.mat-button-disabled.mat-button-disabled .select{
  color: #47a7ff !important;
}

