@import "/src/app/style/variables";

.toolbar {
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: $primary-color-blue;
  color: $white-color;
  font-weight: 600;
  box-shadow: 0px 4px 4px $shadow-color;
  padding-left: 16px;
  padding-right: 16px;

  @media (max-width: 500px){
    height: 120px;
  }
}

.left-btn {
  float: left;
  @media (max-width: 500px){
    height: 80%;
    right: 50%;
  }
}

.right-btn {
  position: absolute;
  right: 16px;
  float: right;
  @media (max-width: 500px){
    height: 0px;
  }
}

.btn {
  min-width: 159px;
  margin-right: 8px;
  margin-left: 8px;
  background: $blue-color;
  border-radius: 0px;

  @media (max-width: 770px){
    min-width: 40px;
  }
}

.shop-btn {
  margin-right: 8px;
  margin-left: 8px;
  background: $blue-color;
  border-radius: 0px;
  padding: 0;
  min-width: 36px;
}

.account-icon {
  border: 2px solid $blue-color;
}

.booking{
  text-decoration-line: underline;
}

.shadow{
  box-shadow: none;
}

.mat-badge-content{
  background : $red
}
