<div class="toolbar container" role="banner">
  <div class="left-btn">
    <button mat-raised-button color="primary" class="btn">LOTY</button>
    <button mat-raised-button color="primary" class="btn booking">REZERWACJA</button>
  </div>
  <div class="right-btn">
    <button mat-raised-button color color="primary" class="shop-btn shadow">
      <mat-icon [matBadge]="bookedFlights.length | numberOfBooked"
       matBadgeColor="warn"
       [matMenuTriggerFor]="menu">shopping_cart</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let bookedFlight of bookedFlights">
        <span>{{bookedFlight.departureAirport}} &#8646; {{ bookedFlight.arrivalAirport }} - {{bookedFlight.dateOfDeparture | date: "M/d/yy, h:mm"}}</span>
      </button>
    </mat-menu>
    <button mat-raised-button color="primary" class="btn shadow">JAN KOWALSKI <mat-icon class="account-icon" >account_circle</mat-icon></button>
  </div>
</div>

